@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&display=swap');

$color-text: #242424;
$color-text-muted: #6b6b6b;
$color-background: #ffffff;
$color-background-alt: #F3F3F3;
$color-action: #3A3A3A;
$color-focus: #679146;
$color-border: #cecece;
$color-white: #ffffff;
$color-green: #8dc63f;
$color-green-mid: #bae575;
$color-green-light: #e6ffcd;
$color-green-dark: #3b6e04;
$color-teal: #1e9eb6;
$color-teal-mid: #85d7e9;
$color-teal-light: #ccf5fb;
$color-teal-dark: #00798e;
$color-purple: #8b6baf;
$color-purple-mid: #ba96e3;
$color-purple-light: #eedcff;
$color-purple-dark: #704c98;
$color-orange: #f47b20;
$color-orange-mid: #ffaa5c;
$color-orange-light: #ffdaae;
$color-orange-dark: #c75218;
$color-black: #000000;

$font-weight-semibold: 500;

$box-shadow: 0px 3px 8px rgba(29, 26, 56, 0.12);

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $font-weight-semibold !important;
}

.nav-pills>li>a {
    position: relative;
    padding: 10px 5px;
    // margin: 0 8px;
    // min-width: rem(72px);
    text-align: center;
    color: $color-green-dark;
    font-weight: $font-weight-semibold;
    font-size: 16px;
    line-height: 1.5;

    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 3px;
        height: 3px;
        background: currentColor;
        transform: translateY(-100%);
        // transition: $transition-transform;
        background: $color-green-light;

        // @include mq($from: sm) {
        //     height: rem(6px);
        // }
    }

    &:hover {
        color: currentColor;
        color: scale-color($color-green-dark, $lightness: -25%);
        background: transparent;

        &::after {
            background-color: $color-green-mid;
        }
    }

    &.active {
        // background-color: $color-green-dark;
        // color: $color-white;
        background: transparent;
        color: $color-text;

        &::after {
            background-color: $color-green;
        }
    }
}

.btn,
.btn-default,
.btn-primary {
    padding: 11px 19px;
    display: inline-block;
    text-align: center;
    line-height: 1.4;
    border: 2px solid transparent;
    font-weight: $font-weight-semibold;
    border-radius: 10px;
}

.btn {
    background: $color-white;
    box-shadow: $box-shadow;
    color: $color-green-dark;
}

.btn-default {
    background: $color-white;
    color: $color-green-dark;
    border-color: $color-green;
    box-shadow: none;

    &:hover,
    &:focus {
        background: scale-color($color-green, $lightness: 90%) !important;
        color: $color-green-dark !important;
        transition: none;
    }

    .d-icon {
        color: currentColor !important;
    }
}

.btn-primary {
    background: $color-green-dark;
    color: $color-white;
    border-color: transparent;
    box-shadow: none;
}

.btn-danger {
    background: $color-orange-dark;
    color: $color-white;
    border-color: transparent;
    box-shadow: none;
}

.select-kit-header {
    padding: 11px 19px !important;
    border-radius: 9px;
    border: 2px solid #cecece !important;
}

#navigation-bar {
    margin-left: 16px;
}

.d-header-icons .d-icon {
    color: $color-text;
}

.cooked,
.disclaimer {
    a {
        font-weight: 500;
        border-bottom: 2px solid $color-green;
    }

    li {
        margin-bottom: 8px;
    }
}

.admin-intro .external-link {
    display: inline-block !important;
    margin-bottom: 8px !important;
}

.cancel {
    border-bottom: 2px solid $color-green;
    color: $color-green-dark !important;
}

// Forms
input[type="text"] {
    border-radius: 9px;
    padding: 13px;
    border-color: #cecece;
}

.d-editor-textarea-wrapper {
    border-radius: 9px;
    border-color: #cecece;
}

.featured-topic a.title {
    color: $color-green-dark;
    border-bottom: 2px solid $color-green;
}

.user-create-theme button {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

.search-input {
    border-radius: 9px;
}

.user-secondary-navigation .nav-stacked a.active,
.empty-state .empty-state-title,
.stats-section .value {
    font-weight: $font-weight-semibold;
}

#list-area .top-lists h2 {
    font-size: 15px;
    margin: 0;
}

.select-kit.dropdown-select-box.period-chooser .period-chooser-header .d-icon {
    font-size: 16px;
    padding: 0;
    box-shadow: none;
}

.modal-footer {
    padding: 1.5em 2em;
}

.modal-inner-container {
    border-radius: 18px;
    overflow: hidden;
}

.modal-backdrop {
    background-color: $color-green;
    opacity: .8 !important;
}

.modal-close {
    box-shadow: none;
}

.login-form {
    padding-bottom: 2rem !important;
}

.alert {
    padding: 18px;
    border-radius: 9px;
    font-size: 14px;
    line-height: 1.4;
    background: $color-green-mid !important;

    > span {
        padding-right: 80px;
        display: block;
    }

    a,
    button {
        font-weight: $font-weight-semibold;
        color: $color-text;
        border-bottom: 2px solid $color-focus;
    }

    .close {
        border-radius: 0;
        box-shadow: none;
        border: none;
        top: 0.5em;

        &::after {
            content: 'Dismiss';
            font-size: 14px;
            border-bottom: 2px solid $color-focus;
        }

        .d-icon {
            color: $color-text;
            font-size: 12px;
            margin-right: 8px;
        }
    }
}

.list-controls {
    margin-top: 2rem;
}

#reply-control .save-or-cancel .cancel {
    text-transform: capitalize;
}

.d-header #site-logo {
    height: 68px;
    position: relative;
    top: 17px;
}

.d-header {
    box-shadow: 0px 3px 8px rgba(29, 26, 56, 0.12);
}

#search-button::after {
    content: 'Search';
    display: inline-block;
    position: static !important;
    height: auto !important;
    border: none !important;
    font-weight: $font-weight-semibold;
}

#toggle-hamburger-menu::after {
    content: 'Menu';
    display: inline-block;
    position: static !important;
    height: auto !important;
    border: none !important;
    font-weight: $font-weight-semibold;
}

.d-header-icons {
    .hamburger-dropdown,
    .search-dropdown {
        margin-right: 2rem;

        @media only screen and (max-width: 480px) {
            margin-right: 1rem;
        }

        a {
            width: auto;
            position: relative;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-top: 0;
            font-size: 16px !important;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: $color-green-mid;
                height: 3px;
                width: 100%;
                border-radius: 1.5px;
            }

            &:hover {
                color: scale-color($color-green-dark, $lightness: -25%);
                background: transparent !important;
        
                &::before {
                    background-color: $color-green-mid;
                }
            }
        
            svg {
                width: 1em;
                margin-right: .25rem;
            }
        }

        &.active a {
            border-color: transparent !important;
        }
    }    
}

.title-wrapper {
    margin-top: 2rem;
}

b, strong {
    font-weight: $font-weight-semibold;
}

.search-link svg {
    display: none;
}

.search-menu .searching {
    position: static;
    margin-right: .75rem;
}

.d-header .title-wrapper {
    margin-top: 0;
    margin-left: 1rem;
    font-size: 20px;
}

.unread-high-priority-notifications {
    background: $color-orange-mid;
    color: $color-text !important;
}

.avatar {
    border-radius: 0 !important;
    clip-path: url(#svgclip1);
}

.badge-category-bg {
    clip-path: url(#svgclip2);
}

.heatmap-high,
.heatmap-med,
.heatmap-low {
    color: $color-orange-dark !important;
}

.heatmap-high {
    font-weight: $font-weight-semibold !important;
}

.select-kit-filter {
    svg {
        display: none;
    }
}

.select-kit-header-wrapper {
    color: $color-green-dark !important;
    font-size: 16px !important;
}

.select-kit.is-expanded .select-kit-body {
    border-radius: 9px;
    box-shadow: $box-shadow;
}

.select-kit.single-select.is-expanded .select-kit-header:not(.btn), .select-kit.single-select .select-kit-header:not(.btn):focus, .select-kit.single-select .select-kit-header:not(.btn):active {
    outline: none;
    border-color: $color-green !important;
}

#main {
    padding-bottom: 4rem;
}

.show-all {
    color: $color-green-dark !important;

    &::after {
        content: 'Show all'
    }
}

.menu-panel .panel-body-bottom .btn {
    color: $color-green-dark !important;
    background: transparent !important;

    svg {
        display: none;
    }
}

button.widget-button.btn.btn.btn-default.notifications-dismiss.btn-icon-text::after {
    content: ' all';
}

.select-kit.combo-box.tag-drop .select-kit-row[data-value="all-tags"], .select-kit.combo-box.tag-drop .select-kit-row[data-value="no-tags"] {
    font-weight: $font-weight-semibold;
}

.consent_banner {
    background: $color-green-mid;
}

.latest-topic-list .posts-map, .top-topic-list .posts-map {
    font-weight: $font-weight-semibold;
}

.menu-panel {
    box-shadow: $box-shadow;
    border-radius: 12px;
}
